.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  & a {
    display: block;
  }
}

@media (max-width: 1205px) {
  .header {
    padding: 20px 12px;
  }
}
